[submodule "external/pairing_crypto"]
	path = external/pairing_crypto
	url = https://github.com/mattrglobal/pairing_crypto
[submodule "zk-proofs/circuits/circom-ecdsa-p256"]
	path = zk-proofs/circuits/circom-ecdsa-p256
	url = https://github.com/privacy-scaling-explorations/circom-ecdsa-p256
